#pagina-catalogo #grade-produtos {
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 64rem) {
  #pagina-catalogo #grade-produtos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 40rem) {
  #pagina-catalogo #grade-produtos {
    grid-template-columns: 1fr;
  }
}
